:root {
  --app-max-width: 700px;
  --app-min-width: 300px;
  --app-min-height: 500px;
  --backdrop-background: #2a1b0e;
  --table-background: radial-gradient(
    circle,
    rgb(0, 133, 11) 20%,
    rgb(0, 92, 9) 100%
  );
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  width: 100%;
  background-color: #333;
  color: white;
}

#root {
  position: relative;
  margin: auto;
  height: 100%;
  overflow: hidden;
}
